
.button-primary{
	&:link,
	&:visited{
		position: relative;
		display: inline-block;
		padding: 6px 8px;
		margin-top: 15px;
    	margin-bottom: 5px;
		text-decoration: none;
		color: #fff;
		background-color: $primary-brown1;
		border-radius: 42px;
		border-color: $primary-brown1;
		outline: 0;
		transition: all .2s;
		backface-visibility: hidden;
	}
	&:hover{
		background-color: #efe7dd;
 		border-color: #634028;
		 color: #634028;
		 transform: translateY(-3px);
		 box-shadow: 0 10px 30px rgba(0,0,0,.5);

		 &::after{
			transform: scale(2);
			opacity: 0;
		 }
	}
	&::after{
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 42px 42px 42px 42px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #6b4e2a;
		z-index: -1;
		transition: all .6s;
		/*top: 10px;*/
		/*left: 0;*/
		backface-visibility: hidden;
	}
}
// .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
// 	background-color: #efe7dd;
// 	border-color: #634028;
// 	color: #634028;
// }
// .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
//     color: #634028;
//     background-color: #efe7dd;
//     border: none;
// }
// .btn-primary:hover{
// 	transform: translateY(-3px);
// 	box-shadow: 0 10px 30px rgba(0,0,0,.5);
// }
// .btn-primary:active{
// 	/*transform: translateY(-1px);*/
// 	outline: 0;
// 	box-shadow: 0 10px 15px rgba(0,0,0,.5);
// }





// .button-primary::after{
// 	content: "";
// 	display: inline-block;
// 	height: 100%;
// 	width: 100%;
// 	border-radius: 42px 42px 42px 42px;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	background-color: #6b4e2a;
// 	z-index: -1;
// 	transition: all .6s;
// 	/*top: 10px;*/
// 	/*left: 0;*/
// 	backface-visibility: hidden;
// }
.button-primary:hover::after{
	transform: scale(2);
	opacity: 0;
}