
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    & .modal-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85%;

        & .left{
            width: 10%;
            height: 100%;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: slideLeft .6s ease-in-out backwards;
            &:hover .arrow-icon{
                color: #845c66;
                cursor: pointer;
            }
        }
        & .modal-content {
            // margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }
        & .right{
            width: 10%;
            height: 100%;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: slideRight .6s ease-in-out backwards;
            &:hover .arrow-icon{
                color: #845c66;
                cursor: pointer;
            }
        }
        & .arrow-icon{
            font-size: 120px;
            color: #845c6687;
            
        }
        
    

    & #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    & .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    
    
}
@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
& .closem {
    position: absolute;
    top: 80px;
    right: 35px;
    color: #845c6687;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;

    &:hover, &:focus{
        color: #845c66;
        text-decoration: none;
        cursor: pointer;
    }
}
}

@keyframes slideLeft{
    0%{opacity: 0;
        transform: translateX(110px);
    }
    30%{opacity: 0;}
    31%{opacity: 1;}
    100%{transform: translateX(0);}

    }

@keyframes slideRight{
    0%{opacity: 0;
        transform: translateX(-110px);
    }
    30%{opacity: 0;}
    31%{opacity: 1;}
    100%{transform: translateX(0);}
    
    }
