    // 2 traingles displaying photos before and after the job in PROJECT PAGE
.triangle-display{
	display: block;
	position: relative;
	margin: 0 auto;
    width: 93%;
    height: 395px;
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
    // box-shadow: 0px 0px 42px -6px rgba(0,0,0,0.75);
	
    
    & .triangleL{ // L - left
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        background-position: center center;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
        clip-path: polygon(0 0, 0 100%, 100% 100%);  
        animation: showup 2s ease-in, moveL 1.5s linear;
        box-shadow: -14px 14px 42px -20px rgba(0,0,0,0.75);

        
    }

    & .triangleR{ // R - right
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-49%, -50.5%);
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        background-position: right bottom;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        animation: showup 5s ease-in, moveR 1.5s linear;  
    }
}

    // same but a bit different triangles displayed in CREATE NEW PROJECT PAGE
    .triangle-displayN{
        display: inline-block;
        margin-left: 15px;  
        -webkit-box-shadow: -13px 12px 18px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: -13px 12px 18px -10px rgba(0,0,0,0.75);
        box-shadow: -13px 12px 18px -10px rgba(0,0,0,0.75);

        & .triangleLN{
            display: inline-block;
            width: 770px;
            height: 200px;
            margin-bottom: -5px;
            background: #6b4e2a8c;    
            background-position: center center;
            -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
            clip-path: polygon(0 0, 0 100%, 100% 100%);
            animation: showup 2s ease-in, moveL 1.5s linear;
            -webkit-box-shadow: -7px 6px 37px 2px rgba(0,0,0,0.75);
            -moz-box-shadow: -7px 6px 37px 2px rgba(0,0,0,0.75);
            box-shadow: -7px 6px 37px 2px rgba(0,0,0,0.75);
            opacity: .6;
        }

        & .triangleRN{
            display: inline-block;
            margin-left: -755px;
            width: 770px;
            height: 200px;
            background: #6b4e2a8c;
            background-position: center bottom;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            /*filter: grayscale(100%);*/
            animation: showup 5s ease-in, moveR 1.5s linear;
            opacity: .6;
        }
    }

    // animation for triangles in all pages
    @keyframes showup {
        0%{filter: grayscale(100%);}
        25%{filter: grayscale(100%);}
        100%{filter: grayscale(0%);}
    }
    @keyframes moveL{
        0%{background-position: center bottom;}
        100%{background-position: center center;}
    }
    @keyframes moveR{
        0%{background-position: center top;}
        100%{background-position: center bottom;}
    }
    