*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}
body{
    position: relative;
	background :#e0e0e0;
	height:100vh;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility:hidden;
}
main{
	padding-top: 50px;
	height: 100%;
}



.info{
    height: 450px;
    
}
.preview{
	height: 83px;
	overflow: hidden;
	justify-content: center;
	filter: grayscale(70%);
	
	&:nth-of-type(1) .col{
		border-radius: 21px 21px 0px 0px;
	}
	&:nth-of-type(5) .col{
		border-radius: 0px 0px 21px 21px;
	}
	

	& .col{
		max-width: 92%;
		transition: all 2s;
		cursor: pointer;

		&:hover{
			transform: scale(1.3);
		}
	}
}
.project-text{
	padding: 43px;
	padding-bottom: 10px;
	text-align: justify;
	white-space: pre-line;
	white-space: pre-wrap;
	font-weight: 800;
	background: white;
	border-radius: 30px 30px 0px 0px;
	margin-bottom: 0;

}
.image-title{
	padding-top: 15px;
	text-align: center;
}
li.list-group-item{
	text-align: center;
	background :#b69064;
}
.dropdown{
	padding-left: 20px;
}
.addform{
    margin-top: 0px;
    height: 200px;
	margin-top: 5px;
}
.container.login{
	margin-top: 180px;
}
.homelink{
	display: none;
}
div.row.preview:hover{
	filter: grayscale(0%);
}




.container{
	height: 100%;
	/*overflow: auto;*/
}
.row.wrapper{
	height: 100%;
}
.col-lg-9{
	overflow: auto;
}

.homelink p{
	color: white;
}

.col-md-3.newform{
	margin-top: 130px;
}
.form-control-file, .form-control-range{
	display: inline-block;
	width: 200px;

}
.form-control{
	margin-top: 10px;
}


.container.admin{
	margin-top: 10px;
}





.projects-select{
	height: 40px;
	width: 300px;
	text-align: center;
	margin: 0 auto;
	border-radius: 0px 0px 20px 20px;
	color: white;
	position: relative;
	overflow: hidden;
	border: 4px solid #6b4e2a;
    box-sizing: content-box;

	& a:link,
	& a:visited
	& a:active,
	& a{
		color: white;
		text-decoration: none;
	}

	& .slider{
		position: relative;
		height: 100%;
		transform: translateX(25%);
		transition: all .3s ease-in-out;
		&:hover{
			transform: translateX(-25%);
		}
		&:hover .textile{
			background-image: linear-gradient(to right bottom, #00000000, #00000000), url(../images/textile.jpg);
		}
		&:hover p{
			background: #0000008f;
		}

		
	& .wood{
		position: absolute;
		top: 0;
		left: -30%;
		-webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
		width: 85%;
		height: 100%;
		background: url(../images/medis.jpg);
		background-size: cover;
		display: flex;
    	justify-content: flex-end;
		align-items: center;
		padding-right: 32px;
		transition: all .2s;
		font-weight: 600;		
		// &:hover{
		// 	transform: translateX(20%);
		// 	z-index: 2;
		// }
		// &:hover ~ div.projects-select .textile{
		// 	display: none;
		// }
	}

	& .textile{
		position: absolute;
		top: 0;
		right: -30%;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
		width: 85%;
		height: 100%;
		// font-weight: 600;
    	// font-size: 16px;
		background-image: linear-gradient(to right bottom, #0000006c, #0000006c), url(../images/textile.jpg);
		// linear-gradient(to right bottom, #ee9ca7a9, #ffdde1a9),
		background-position: center center;
		display: flex;
		justify-content: start;
		
		align-items: center;
		transition: all .3s ease-in-out;
		z-index: 1;
		
		// &:hover{
		// 	transform: translateX(-55%);
		// 	background-image: linear-gradient(to right bottom, #00000000, #00000000), url(../images/textile.jpg);
			
		//}
		// &:hover p{ 
		// 	background: #0000008f;
		//}
		& p{
			margin: 0;
			font-weight: 600;
			padding-left: 25px;
			height: 100%;
			padding-top: 7px;
			padding-right: 5px;
		}
		
	}
}
	

}