*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}
body{
    position: relative;
	background :#e0e0e0;
	height:100vh;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility:hidden;
}
main{
	padding-top: 50px;
	height: 100%;
}



.info{
    height: 450px;
    
}
.preview{
	height: 83px;
	overflow: hidden;
	justify-content: center;
	filter: grayscale(70%);
	
	&:nth-of-type(1) .col{
		border-radius: 21px 21px 0px 0px;
	}
	&:nth-of-type(5) .col{
		border-radius: 0px 0px 21px 21px;
	}
	

	& .col{
		max-width: 92%;
		transition: all 2s;
		cursor: pointer;

		&:hover{
			transform: scale(1.3);
		}
	}
}
.project-text{
	padding: 43px;
	padding-bottom: 0;
	text-align: justify;
	white-space: pre-line;
	white-space: pre-wrap;
	font-weight: 800;
}
.image-title{
	padding-top: 15px;
	text-align: center;
}
li.list-group-item{
	text-align: center;
	background :#b69064;
}
.dropdown{
	padding-left: 20px;
}
.addform{
    margin-top: 0px;
    height: 200px;
	margin-top: 5px;
}
.container.login{
	margin-top: 180px;
}
.homelink{
	display: none;
}
div.row.preview:hover{
	filter: grayscale(0%);
}




.container{
	height: 100%;
	/*overflow: auto;*/
}
.row.wrapper{
	height: 100%;
}
.col-lg-9{
	overflow: auto;
}

.homelink p{
	color: white;
}

.col-md-3.newform{
	margin-top: 130px;
}
.form-control-file, .form-control-range{
	display: inline-block;
	width: 200px;

}
.form-control{
	margin-top: 10px;
}


.container.admin{
	margin-top: 10px;
}


